.go-board {
    font-size: 20px;
    background-image: url('board.gif');
    width: 20em;
    height: 20em;
    background-size: cover;
}

.row {
    margin-left: 0.75em;
}

.row:first-child .col {
    margin-top: 0.75em;
}

.col {
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    margin: 0.14em 0.12em;
    box-shadow: 1px 2px 10px #888;
    border-radius: 50%;
    visibility: hidden;
}

.white {
    border: 1px solid #ccc;
    background: linear-gradient(white, #eee);
}

.black {
    border: 1px solid #000;
    background: linear-gradient(black, #000);
}
.col{
  visibility: visible;
  border: 1px solid transparent;
}

.tfont{
    font-size: 24px;
    color: grey;
    font-weight: 900;
}